<fieldset>
	<legend>修改密码</legend>
	<form method="post">
	<table>
		<tbody>
		<tr>
			<th>用户名：</th>
			<td>{{.User.UserName}}</span></td>
		</tr>
		<tr>
			<th>原密码：</th>
			<td><input name="OldPassword" value="" type="password" /> <span>{{.Errmsg.OldPassword}}</span></td>
		</tr>
		<tr>
			<th>新密码：</th>
			<td><input name="Password" value="" type="password" /> <span>{{.Errmsg.Password}}</span></td>
		</tr>
		<tr>
			<th>确认密码：</th>
			<td><input name="ConfirmPassword" value="" type="password" /> <span>{{.Errmsg.ConfirmPassword}}</span></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<th></th>
				<td><input type="submit" value="提交" />{{.Errmsg.Other}}</td>
			</tr>
		</tfoot>
	</table>
	</form>
</fieldset>