<fieldset>
	<legend>重置密码</legend>
	<form method="post">
	<table>
		<tbody>
		<tr>
			<th>用户名：</th>
			<td><input name="UserName" value="{{.User.UserName}}" type="text" /> <span>{{.Errmsg.UserName}}</span></td>
		</tr>
		<tr>
			<th>邮箱：</th>
			<td><input name="Email" value="{{.User.Email}}" type="text" /> <span>{{.Errmsg.Email}}</span></td>
		</tr>
		<tr>
			<th>新密码：</th>
			<td><input name="Password" value="" type="password" /> <span>{{.Errmsg.Password}}</span></td>
		</tr>
		<tr>
			<th>确认密码：</th>
			<td><input name="ConfirmPassword" value="" type="password" /> <span>{{.Errmsg.ConfirmPassword}}</span></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<th></th>
				<td><input type="submit" value="提交" />{{.Errmsg.Other}}</td>
			</tr>
		</tfoot>
	</table>
	</form>
</fieldset>